
h2 {
    margin: 0;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.position-box {
    border: 2px solid rgb(206, 240, 214);
    background-color: rgb(206, 240, 214);
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
}

.players-container {
    display: none;
    margin: 5px;
}

.open {
    display: flex;
    flex-direction: column;
}

.player {
    height: 2.5rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #c6b2f4;
    background-blend-mode: soft-light;
    padding: 0.25rem;
    transition: all 2s;
} 

.player:hover {
    border: 2px solid black;
}

.player-name {
    margin: 0px;
    color: white;
    text-shadow: 2px 2px black;
}

.player-details {
    display: none;
    padding: 10px;
}

.player-hometown {
    margin: 0;
}

.player-bio {
    margin: .25rem 0 0 0;
    font-weight: 200;
    font-size: .85rem;
}

.openPlayer {
    height: 60vh;
}

.openPlayer>* {
    display: block;
}

@media screen and (min-width: 750px) {
    .open {
        flex-flow: row wrap;
    }

    .player {
        height: 250px;
        flex: 1;
        display: flex;
    }

    .player-name {
        writing-mode: vertical-rl;
    }

    .openPlayer {
        height: 250px;
        flex: 8;
    }
}

