@import 'normalize.css';

h2 {
    margin: 0;
}

#forwards {
    display: flex;
    flex-direction: column;
}

#forwards>div {
    transition: all 2s;
}

.player {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #c6b2f4;
    background-blend-mode:soft-light;
    padding: 0.25rem;
} 

.player-name {
    margin: 0px;
    color: white;
    text-shadow: 2px 2px black;
}

.player-hometown {
    display:none
}

.open {
    height: 50vh;
}

.open>* {
    display: block;
}