@import 'normalize.css';

#forwards {
    display: flex;
    flex-flow: row wrap;
}

#forwards>* {
    flex: 1 1 auto;
    transition: all 2s;
}

#forwards h1 {
    flex-basis: 100%;
}

.player {
    height: 50vh;
    min-height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #c6b2f4;
    background-blend-mode: overlay;
} 

.player-name {
    writing-mode: vertical-rl;
    margin: 0px;
    color: white;
    text-shadow: 2px 2px black;
}

.player-hometown {
    display:none
}