/* Normalize CSS */

@import 'normalize.css';

/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;600&display=swap');

/* Border Box */

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

/* Main Styles */

body {
    font-family: 'Oswald', sans-serif;
    display: flex;
    flex-direction: column;
 } 

 /*Header  */

header {
    background-color: #c5b5f2;
    text-align: left;
    display: flex;
    flex-flow: column nowrap;
    padding: .75rem;
}

.mobile-banner {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

header h1 {
    margin: 0;
    text-align: left
}

/* Navigation */

.hamburger {
    margin-right: 10px;
    align-self: flex-start;
}

.hamburger span {
    display: block;
    width: 40px;
    height: 5px;
    background-color: #050018;
    margin-bottom: 5px;
    border-radius: 3px;
}

.hamburger span:nth-child(1) {
    margin-top: 5px;
}

nav {
    display: none;
    flex-direction: column;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    padding: 5px 0px;
}

nav a:hover {
    color: white;
}
