/* Normalize CSS */

@import 'normalize.css';

/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;600&display=swap');

/* Border Box */

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

/* Main Styles */

body {
    font-family: 'Oswald', sans-serif;
 } 

 /*Header  */

header {
    background-color: #c5b5f2;
    text-align: center;
    font-size: 1.25em;
}

h1 {
    margin: 0;
}

header p {
    margin: .5em 0 1em;
    padding: .25rem;
    font-weight: 200;
}

/* Lineup */

.lineup {
    padding: 0 1em;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
}

.player {
    display: flex;
    align-items:center;
}

.player-position {
    width: 3em;
    font-weight: 600;
    padding-left: .5em;
}

.lineup>div:nth-child(odd) {
    background-color: rgb(206, 240, 214);
}

.player-photo {
    display: none;
}

@media screen and (min-width: 400px) {

    .player-photo {
        margin-left: auto;
        display: flex;
        padding: 5px;
    }

    .player-photo img {
        border-radius: 50%;
        width: 9vw;
        max-width: 150px;
    }

}